<div class="row mb-4">
    <div class="col-auto">
        <svg class="icon">
            <use xlink:href="#download"></use>
        </svg>
    </div>

    <div class="col hello-world">
        Этот текст будет заменён через 2 секунды.
    </div>
</div>

<div class="red pa-4"
     data-behaviour="hello-world">
    Этот блок реализует поведение hello-world.
</div>